<div class="boss">
  <div class="card-group">
   
    <!-- Education card -->
    <div class="card">
      <img src="img/008.jpg" class="card-img-top" alt="...">
      <div class="card-body"> 
        <h5 class="card-title">My Education</h5>
        <ul class="card-text">
          <li><b>Graduated from:</b> Faculty of Management and information systems</li>
          <li><b>General grade:</b> Very good</li>
          <li><b>Graduation project's grade: </b> Excellent</li>
          <li><b>Graduation year: </b> 2020</li>
        </ul>
             </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>

    <!-- Skills card -->
    <div class="card">
      <img src="img/006.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">My Skills</h5>
        <ul class="card-text">
          <li><b>Programming languages:</b> [HTML, CSS, and JavaScript]</li>
          <li><b>Framework/libiraries:</b> [Angular, JQuery and bootstrap]</li>
          <li><b>Tools:</b> [Vs Code, npm/yarn]</li>
          <li><b>Soft skills:</b>[problem-solving, teamwork, communication skills]</li>
        </ul>
        <div class="d-flex justify-content-center">
        </div>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>

    <!-- Brief card -->
    <div class="card">
      <img src="img/0010.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Brief</h5>
        <p class="card-text">
          <b> This is my first website and first portofolio also ..</b>
        </p>
        <ul class="card-text">
        <li><b>Certified from: </b>"<a href="https://mcit.gov.eg/" target="_blank"
          style="color: #4C4B16;">Ministry of Communications and Information
            Technology</a>" scholarship </li> 
        <li><b>References: </b> "<a href="https://maharatech.gov.eg/" target="_blank"
          style="color: #4C4B16;">Maharatech</a>" to learn more in addtion to what I
        learnt from "<a href="https://www.nti.sci.eg/" target="_blank"
          style="color: #4C4B16;">NTI</a>" scholarship.</li>
        </ul>
      </div>
      <div class="d-flex justify-content-center">
        <button class="btn btn-primary btn" onclick="alert('Heyy!! ... In the coming days, the projects will increase, my technical experience will increase, and the result will undoubtedly be different when my turn comes.')"> Know more....</button>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>