

    <footer class="bg-dark text-center text-white fix-bottom">
    <div class="container p-4 pb-0">
      <section class="mb-4">

            <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/walaa-zahir-6015861b4" role="button" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/walaazahir?mibextid=LQQJ4d" role="button" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
        <!-- Gmail -->
        <a class="btn btn-outline-light btn-floating m-1" href="mailto:walaazahir4@gmai.com" role="button" target="_blank">
            <i class="fa-regular fa-envelope"></i>
        </a>

  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/search?q=walaazahir&type=repositories" role="button" target="_blank">
            <i class="fab fa-github"></i>
        </a>
      </section>
    </div>
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/" target="_blank">MDBootstrap.com</a>
    </div>
  </footer>
    
 