<div class="container">

    <i class="fa-solid fa-award"></i><h2 style="display: inline;">  Achievements certificates  </h2><i class="fa-solid fa-award"></i>
    <h4>LIKE A WALL OF ACHIEVEMENTS.</h4>
    <div class="responsive">
        <div class="gallery">
            <img src="img/0072.JPG" alt="Cinque Terre" width="600" height="400">

            <div class="desc">Certificated from NTI</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <img src="img/0051.JPG" alt="Forest" width="600" height="400">
            <div class="desc">Certificated from Mahara-Tech</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <img src="img/0052.JPG" alt="Northern Lights" width="600" height="400">

            <div class="desc">Waiting for Depi certification</div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div style="padding:6px;">
        <i class="fa-solid fa-arrow-right"></i><p style="display: inline;"> This wall of achievements is waiting for more and more by helping me with hiring and I will be glade to be a part of your company....</p>
    </div>
</div>