<div class="boss">
  <div class="form-container">
    <h2>CONTACT ME</h2>
    <!-- not-Secure form -->
    <form method="get">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email-To</label>
        <input type="email" id="email" name="email" required>
      </div> 
      <div class="form-group">
        <textarea placeholder="send me your Query" id="queryTextarea" maxlength="200"></textarea>
      </div>
      <button type="submit" class="submit-btn">Submit</button>
    </form>
  
    <!-- for downloading my CV --> 
    <a style="color: #E6C767;" href="files/Walaa-Zahir.pdf" download>Download my resume</a>
<a style="color: #E6C767; display: block;" href="mailto:walaazahir4@gmail.com">walaazahir4&#64;gmail.com</a>
    <!-- Phone number with icon -->
    <div class="phone-container">
      <i class="fa-brands fa-whatsapp"></i>
           <b> +2 01208571899</b>
    </div>
  </div>
</div>